#logo{
  margin-left: 37%;
  height: 300px;
}
#menu{
  text-align: center;
  word-spacing: 100px;
  font-size: 30px;
  font-weight: bold;
  color: red;
  background-color: white;
}
#b1{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.b2 {
    float: left;
}

.b2 a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.b2 a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
.list{
list-style: none;
margin: 10px;
}
button {
margin-left: 100px;
}
#bcakemenu{
  float: left;

}
#chocolatevanillacake{
  float: left;
}
#mousecake{
  float: left;
}
.sd{
  float: left;
}
.ed{
  float: left;
}
h1{

  color: #7c795d;
  font-family: 'Trocchi', serif;
  font-size: 45px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
  text-align: center
}
#intro{
  color: #4c4a37;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 32px;
  margin: 0 0 24px;
}
